* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accessory-container {
  background: #f1f1f1;
  margin-top: 21px;
}

.accessory-options {
  overflow: hidden;
  text-align: center;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: auto;
  display: flex;
  background: #f1f1f1;
}

.accessory-options li {
  display: flex;
  vertical-align: middle;
  width: calc(100% / 3 + 5px);
  height: 93px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 12px;
  padding: 7px 0;
  align-items: center;
  justify-content: flex-start;
  padding-left: 18px;
}

.warpper-content {
  position: relative;
  background-color: #f1f1f1;
  width: 1186px;
  margin: auto;
  padding-left: 25px;
}

.accessory-products {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 23px;
  height: 181px;
}

.accessory-options-title {
  display: block;
  /* margin: auto; */
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  padding-top: 20px;
  margin-left: 19px;
  /* margin-top: 19px; */
  margin-bottom: 19px;
}

.accessory-products span {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.accessory-products-list {
  /* display: flex; */
  gap: 20px;
  /* justify-content: center; */
}

.accessory-products-category {
  vertical-align: text-top;
  color: #333;
  text-transform: unset;
  text-align: center;
  width: auto;
  display: inline-block;
  margin-right: 20px;
}

.accessory-products-category h3 {
  display: block;
  width: 100px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
}

.accessory-products-category img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.category-brand-title {
  display: block;
  /* margin: auto; */
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  padding-top: 20px;
  margin-left: 19px;
}

.category-button {
  width: 114px;
  height: 41px;
}

.category-all-brand {
  padding: 20px;
}

.category-brand {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 23px;
  width: 1165px;
  height: 160px;
}

.category-brand-header {
  display: flex;
  align-items: center;
  margin-top: 13px;
  justify-content: space-between;
}

.quick-link {
  display: flex;
  padding-top: 15px;
  padding-left: 13px;
  max-width: 1938px;
  margin: auto;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 5px;
}

.quick-link a {
  /* align-items: center; */
  border-radius: 4px;
  background-color: #fff;
  /* justify-content: center; */
  display: flex;
  height: 40px;
  width: 114px;
  padding: 0 14px;
  border: 1px solid #e0e0e0;
}

.close-modal {
  width: 69px;
  height: 29px;
  border-radius: 5px;
  background-color: rgb(232 232 232);
  color: #000;
}

.brand-modal-wrapper {
  position: relative;
}

.brand-modal {
  /* position: relative; */
  width: 893px;
  height: 316px;
}

.brand-modal-overlay {
  border-radius: 8px;
}

.brand-modal-wrapper {
  position: absolute;
  top: -35px;
  left: 120px;
  width: 893px;
  height: 316px;
  z-index: 1;
}

.close-modal {
  margin-left: auto;
  margin-bottom: 10px;
}

.brand-item {
  display: flex;
}

.brand-modal-body {
  display: flex;
}

.brand-modal-header {
  display: flex;
}

.brand-modal-header h4 {
  font-weight: bold;
  font-size: 14px;
}

.brand-modal-overlay {
  background-color: #fff;
}

.brand-modal-search {
  width: calc(100% - 150px);
  position: relative;
}

.brand-modal-search {
  position: relative;
  display: flex;
  width: 638px;
  border: 2px solid #000;
  margin-left: 35px;
}

.brand-modal-search input {
  position: absolute;
}

.icon-search {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 25px;
  top: 15px;
}
